[submodule "DarkNetwork2"]
	path = DarkNetwork2
	url = https://github.com/godarklight/DarkNetwork2.git
[submodule "MessageStream2"]
	path = MessageStream2
	url = https://github.com/godarklight/MessageStream2.git
